#Countdown {
	max-height: 120px;
	height: 120px;
	&.countdown-complete {
		.countdown-int {
			p {
				margin-right: 0;
			}
		}
		.countdown-timer {
			display: none;
		}
	}
	.countdown-int {
		@extend %clearfix;
		display: inline-block;
		position: relative;
		right: 50%;
		@include transform(translate(50%, 0));
		p {
			color: inherit;
			text-transform: uppercase;
			margin: 0;
			line-height: 120px;
			font-size: 3.75rem;
			float: left;
			margin-right: 9.375rem;
		}
	}
	.countdown-timer {
		width: 87px;
		height: 87px;
		float: left;
		margin: 16px 0.5rem;
		position: relative;
		.timer-int {
			text-align: center;
			position: absolute;
			top: 50%;
			right: 50%;
			@include transform(translate(50%, -50%));
			.timer-count {
				color: inherit;
				font-size: 2.5rem;
				line-height: 1;
				display: block;
			}
			> span {
				font-size: 0.75rem;
				font-weight: normal;
				color: inherit;
			}
		}
	}
}